body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Arial', 'Verdana',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Great Vibes', 'Dancing Script', 'Pacifico', 'Satisfy', 'Lobster',
    'Allura', 'Playball', 'Alex Brush', 'Parisienne', 'Tangerine', cursive;
}

code {
  font-family: 'Fira Code', 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
